.map {
    height: 100%;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

coordinate, long, lat  {
    display: none;
}

.hidden {
    display: none;
}

.yellowText {
    background-color: yellow;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin-right {
    margin-right: 10px;
}

.anchor {
    padding-top: 90px;
}