.map {
    height: 100%;
    width: 100%;
}

coordinate, long, lat  {
    display: none;
}

.hidden {
    display: none;
}

.yellowText {
    background-color: yellow;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alignVerticalCenter {
    display: flex;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-2 {
    margin-left: 2px;
}

.anchor {
    padding-top: 90px;
}

.success {
    background-color: #a5d6a7;
}

.warning {
    background-color: #fff59d;
}

.danger {
    background-color: #ef9a9a;
}

.debug {
    border-style: dotted;
}

.debug1 {
    border-style: dashed;
}