<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distanbol</title>
</head>
<body>

<div>
    <h1>DISTANBOL</h1>
    Put your Stanbol json output URL as a query:
    <pre><code>https://distanbol.acdh.oeaw.ac.at?URL={URL of your Stanbol output in json}</code></pre>
    <br>
    <b>Examples:</b>
    <br>
    <a href="https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example.json">
        https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example.json
    </a>
    <br>
    <a href="https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example1.json">
        https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example1.json
    </a>
    <br>
    <a href="https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example2.json">
        https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example2.json
    </a>
    <br>
    <a href="https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example3.json">
        https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example3.json
    </a>
    <br>
    <a href="https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example4.json">
        https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example4.json
    </a>
    <br>
    <a href="https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example5.json">
        https://distanbol.acdh.oeaw.ac.at?URL=https://distanbol.acdh.oeaw.ac.at/example/example5.json
    </a>

</div>

</body>
</html>